input[type=text] {
    width: 100%;
    height: 44px;
    border-radius : 0px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    margin: 15px 0;
    text-align: bottom;
    font-family: 'opensans_regular';
    outline: none;
}
input[type=number] {
    width: 100%;
    height: 44px;
    border-radius : 0px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    text-align: bottom;
    font-family: 'opensans_regular';
    outline: none;
}
button[type=button] {
    width: 100%;
    height: 44px;
    border-radius : 0px;
    color: white;
    background-color: #002E5F;
}
/*input:disabled {*/
/*    color:solid black;*/
/*    opacity:1.0;*/
/*    border-bottom: 0px;*/
/*}*/
@font-face {
    font-family: 'opensans_regular';
    src: url('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('OpenSans-Bold.ttf') format('truetype');
}
h3 {
    font-family: 'OpenSans-Semibold';
    font-size: 16;
}
#label, #payment {
    font-family: 'opensans_regular';
    font-size: 16;
    color: #555B5A;
}
#hint, #checkboxHint {
    font-family: 'opensans_regular';
    font-size: 16;
    color: #000000;
}
#ccerrormesages, #cvverrormesages, #cscerrormesages, #nameerrormesages, #errorMessageForAmount {
    font-family: 'OpenSans-Bold';
    font-size: 16;
    color: red;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
table,.separator {
    border-spacing: 0px;
}

#errorPayment {
    font-family: 'OpenSans-Bold';
    font-size: 16;
    color: red;
    text-align: center;
}
#currency {
    font-family: 'OpenSans-Bold';
    font-size: 16;
}
#currency1 {
    font-family: 'opensans_regular';
    font-size: 16;
}
#checkBoxhide {
    padding-bottom:15px;
    padding-left:-1px;

}
#title {
    font-family: 'OpenSans-Semibold';
    font-size: 16;
}
#amountLabel {
    font-family: 'opensans_regular';
    font-size: 16;
    padding-bottom:5px;
}
#subtitle {
    font-family: 'opensans_regular';
    font-size: 14;
}
#headerTable {
    padding-top:10px;
    padding-bottom:10px;
}
#breakPoint {
    padding-bottom:10px;
}
#demoPayButton {
    font-family: 'opensans_regular';
    font-size: 16;
}

.image-container {
    display: flex;
}

.image-container img {
    height: 41px;
    margin-right: 10px;
}
#currency1 {
    font-family: 'OpenSans-Bold';
    font-size: 16;
}

.opensans_regular_text {
    font-family: 'opensans_regular';
    font-size: 16;
    color :#008BCB;
    font-weight: bold;
    text-decoration: underline;
}
