# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- development

pool:
  vmImage: 'macOS-latest'

steps:
  - task: Gradle@2
    inputs:
      workingDirectory: 'https://conduenttolling.visualstudio.com/Highways%20England/_git/HE-MAPP-Android?path=%2Fgradlew'
      gradleWrapperFile: 'gradlew'
      gradleOptions: '-Xmx3072m'
      publishJUnitResults: false
      testResultsFiles: '**/TEST-*.xml'
      tasks: 'assembleDebug'
      - bash: 'C:\Users\abhilasha.chauhan\bash_script'
          workingDirectory: 'https://conduenttolling.visualstudio.com/Highways%20England/_git/HE-MAPP-Android?path=%2Fgradlew'
          displayName: 'HE-MAPP'
          failOnStderr: #
          env:  # mapping of environment variables to add



- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
