@font-face {
    font-family: 'file:///android_assets/OpenSans-Regular';
}

#label {
    font-family: 'file:///android_assets/OpenSans-Bold';
    font-size: 14px;
    color: #000000;
}
body {
    font-family: 'file:///android_assets/OpenSans-Regular';
    font-size: 14px;
    color: #000000;
}


