<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conduent.nationalhighways">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name="com.conduent.nationalhighways.ui.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/appicon_round"
        android:theme="@style/Theme.HEMobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.account.biometric.BiometricActivity"
            android:exported="false">

        </activity>
        <activity
            android:name="com.conduent.nationalhighways.ui.landing.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.conduent.nationalhighways.ui.bottomnav.dashboard.topup.ManualTopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />
        <activity
            android:name="com.conduent.nationalhighways.ui.startNow.StartNowBaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.auth.controller.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.landing.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileDark" />
        <activity
            android:name="com.conduent.nationalhighways.ui.vehicle.VehicleMgmtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobile" />
        <activity
            android:name="com.conduent.nationalhighways.ui.bottomnav.HomeActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileDark" />
        <activity
            android:name="com.conduent.nationalhighways.ui.viewcharges.ViewChargesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.futureModule.InProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.account.creation.controller.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobile" />
        <activity
            android:name="com.conduent.nationalhighways.ui.account.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />
        <activity
            android:name="com.conduent.nationalhighways.ui.nominatedcontacts.NominatedContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.account.communication.CommunicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.bottomnav.notification.NotificationViewAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.startNow.contactdartcharge.ContactDartChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.startNow.guidancedocuments.GuidanceAndDocumentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.conduent.nationalhighways.ui.payment.MakeOffPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />
        <activity
            android:name="com.conduent.nationalhighways.ui.bottomnav.account.payments.AccountPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />
        <activity
            android:name="com.conduent.nationalhighways.ui.vehicle.vehiclegroup.VehicleGroupMgmtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />
        <activity
            android:name="com.conduent.nationalhighways.ui.bottomnav.account.accountstatements.AccountStatementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />
        <activity
            android:name="com.conduent.nationalhighways.ui.checkpaidcrossings.CheckPaidCrossingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.DartChargeFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:exported="false"
            android:protectionLevel="signature">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>