<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conduent.nationalhighways">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/appicon_round"
        android:theme="@style/Theme.HEMobile"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.bottomnav.account.raiseEnquiry.RaiseEnquiryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bottomnav.account.close_account.CloseAccountSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.biometric.BiometricActivity"
            android:exported="false" />
        <activity
            android:name=".ui.landing.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.controller.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CreateAccount" />
        <activity
            android:name=".ui.account.profile.password.ProfilePasswordChangeSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CreateAccount" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileDark" />
        <activity
            android:name=".ui.landing.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileDark" />
        <activity
            android:name=".ui.bottomnav.HomeActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileDark"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.viewcharges.ViewChargesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CreateAccount" />
        <activity
            android:name=".ui.futureModule.InProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.creation.controller.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CreateAccount"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.bottomnav.notification.NotificationViewAllActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.payment.MakeOffPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />

        <activity
            android:name=".ui.checkpaidcrossings.CheckPaidCrossingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HEMobileWhite" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.DartChargeFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_dart_charge_app_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->

        <receiver
            android:name=".receiver.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.GeofenceBroadcastReceiver"
            android:exported="true" />
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:exported="false"
            android:protectionLevel="signature">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.PlayLocationService"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>